[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/uniswap-hooks"]
	path = lib/uniswap-hooks
	url = https://github.com/openzeppelin/uniswap-hooks
[submodule "lib/hookmate"]
	path = lib/hookmate
	url = https://github.com/akshatmittal/hookmate